@media (max-width: 425px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        &__header {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            width: 343px;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 238px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            width: 343px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &__button {
            display: flex;
            justify-content: center;
        }
    }
}
//seasons

.seasons {
    display: flex;
    justify-content: center;
    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 51px;
        margin-bottom: 64px;
    }
    &__header {
        text-align: center;
        font-size: 32px;
        line-height: 39px;
    }
    &__text {
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        width: 300px;
    }
    &__right {
        margin-bottom: 85px;
    }
    &__right-img {
        width: 344px;
    }
}
